body, .jumbotron {
  padding: 30px;
  text-align: center;
  background-image: url(https://images.pexels.com/photos/266755/pexels-photo-266755.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width:100%;
}

.text-giant {
  font-size: 40px;
}

.btn {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10%;
  transition: 0.5s ease all;
  margin-left:40px;
  height: 100px;
}
h1{
  text-center: center;
  
}

.btn-btn {
  position: absolute;
  top: 50%;
  left: 40%;
  width: 10%;
  height: 100px;
  transition: 0.5s ease all;
}